{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "components": "./components",
                    "hoc": "./components/hoc",
                    "apollo": "./apollo"
                }
            },
            "babel-plugin-styled-components"
        ]
    ]
}